<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title> Hogwarts Lib</title>
</head>

<body>
<h1 th:text="${h1_text}"></h1>
<p> Welcome to Regular section! </p>
<a href="/lib/secret">Go to the secret section</a>
<br/>
<hr/>
<br/>
<form th:method="POST" th:action="@{/lib/regular}" th:object="${book}">
    <div>
        <label for="name">Book name: </label>
        <input type="text" name="name" id="name" th:field="*{name}">
        <span style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</span>
        <br/>
        <label for="author">Book author: </label>
        <input type="text" name="author" id="author" th:field="*{author}">
        <span  style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author error</span>
        <br/>
        <label for="year">Year of publication: </label>
        <input type="text" name="yearOfPublication" id="year" th:field="*{yearOfPublication}" min="2015" max="2024">
        <span  style="color:red" th:if="${#fields.hasErrors('yearOfPublication')}" th:errors="*{yearOfPublication}">Year error</span>
        <br/>

        <button type="submit">Create a new book</button>
    </div>
</form>
<br/>
<hr/>
<table>
    <tr>
        <th>AUTHOR</th>
        <th>BOOK NAME</th>
        <th>YEAR OF PUBLICATION</th>
        <th>EDIT</th>
        <th>DELETE</th>
    </tr>
    <tr th:each=" book : ${books} ">
        <td th:text="${book.author}"/>
        <td th:text="${book.name}"/>
        <td th:text="${book.yearOfPublication}"/>
        <td>
            <a th:href="@{/lib/edit/{id}(id=${book.id})}">Edit</a>
        </td>
        <td>
            <form th:method="POST" th:action="@{/lib/delete/{id}(id=${book.id})}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>