<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title> Hogwarts Lib</title>
</head>

<body>
<h1 th:text="${h1_text}"></h1>
<p> Welcome to Regular section! </p>
<a href="/lib/secret">Go to the secret section</a>
<br/>
<br/>
<form th:method="POST" th:action="@{/lib/regular}" th:object="${book}">
    <div>
        <label for="name">Book name: </label>
        <input type="text" name="name" id="name" th:field="*{name}"> <br/>
        <label for="author">Book author: </label>
        <input type="text" name="author" id="author" th:field="*{author}"><br/>
        <button type="submit">Create a new book</button>
    </div>
</form>
<br/>
<table>
    <tr>
        <th>AUTHOR</th>
        <th>BOOK NAME</th>
        <th>EDIT</th>
        <th>DELETE</th>
    </tr>
    <tr th:each=" book : ${books} ">
        <td th:text="${book.author}"/>
        <td th:text="${book.name}"/>
        <td>
            <a th:href="@{/lib/edit/{id}(id=${book.id})}">Edit</a>
        </td>
        <td>
            <form  th:method="POST" th:action="@{/lib/delete/{id}(id=${book.id})}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>